// COLOR VARIABLES
$color-primary: #da3831;
$color-primary-dark: #4c1310;

$color-secondary: #000; 

$color-dark-1: #202020;
$color-dark-2: #151515;

$color-grey-light-1: #dddddd;
$color-grey-light-2: #bbbbbb;

$color-grey-dark-1: #838383;
$color-grey-dark-2: #707070;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;