#character .container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: repeat(12, 1fr);
  .navbar {
    grid-column: 1 / -1;
    background-color: $color-dark-2;
    color: #fff;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      font-size: 1.8rem;
      .logo {
        width: 15rem;
        margin-top: 0.7rem;
        margin-right: 30vw;
      }
      li {
      }
    }
  }
}
