#comic .container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;

  .comic-banner {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: $color-dark-2;
    height: 40vh;
    border-bottom: 0.7rem solid $color-primary;

    img {
      height: 30vh;
    }
    h1 {
      max-width: 45vw;
    }
  }

  .comic-overview {
    grid-column: 2 / -2;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &_left {
      grid-column: 1 / 3;
      border-top: 0.2rem solid $color-grey-light-1;
      width: 20rem;
      h2 {
        margin-top: 1.7rem;
        color: $color-grey-dark-1;
      }
    }
    &_right {
      grid-column: 3 / -1;
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 10rem;
      &-item {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 4rem;
        h3 {
          background-color: $color-dark-1;
          border-radius: 1rem;
          height: fit-content;
          width: fit-content;
          padding: 0.3rem 1.7rem;
          border-bottom: 0.4rem solid $color-primary;
          font-weight: 600;
          font-style: oblique;
          color: #fff;
        }
        p {
          height: fit-content;
          width: fit-content;
          margin-top: 0.5rem;
          font-weight: 400;
          font-size: 1.7rem;
          color: $color-dark-1;
        }
      }
      .comic-description {
        font-style: italic;
        font-weight: 400;
      }
    }
  }
  .comic-characters-list {
    grid-column: 2 / 3;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    &_left {
      border-top: 0.2rem solid $color-grey-light-1;
      width: 20rem;
      h2 {
        margin-top: 1.7rem;
        color: $color-grey-dark-1;
      }
    }

    &_right {
      display: grid;
      grid-template-columns: 1fr;
      &_gallery {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
      }
    }

    .characters-card {
      display: flex;
      flex-direction: column;
      color: #fff;
      overflow: hidden;
      border-radius: 0 0 2.5rem 0;
      box-shadow: 0px 3px 3px #00000074;

      &_bot {
        background-color: $color-dark-2;
        height: 15rem;
        border-top: 5px solid $color-primary;
        .character-name {
          margin: 2rem 0 0 2rem;
        }
      }

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.2);
          overflow: hidden;
          z-index: -1;
        }
        .characters-card_bot {
          background-color: $color-primary;
        }
      }
    }
  }
  .comic-images {
    grid-column: 2 / 3;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &_left {
      grid-column: 1 / 3;
      border-top: 0.2rem solid $color-grey-light-1;
      width: 20rem;
      h2 {
        margin-top: 1.7rem;
        color: $color-grey-dark-1;
      }
    }

    &_right {
      grid-column: 3 / -1;
      margin-top: 10rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  .comic-creators-list {
    grid-column: 2 / 3;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    &_left {
      border-top: 0.2rem solid $color-grey-light-1;
      width: 20rem;
      h2 {
        margin-top: 1.7rem;
        color: $color-grey-dark-1;
      }
    }

    &_right {
      display: grid;
      grid-template-columns: 1fr;
      &_gallery {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
      }
    }

    .creators-card {
      display: flex;
      flex-direction: column;
      color: #fff;
      overflow: hidden;
      border-radius: 0 0 2.5rem 0;
      box-shadow: 0px 3px 3px #00000074;

      &_bot {
        background-color: $color-dark-2;
        height: 15rem;
        border-top: 5px solid $color-primary;
        .creator-name {
          margin: 2rem 0 0 2rem;
        }
      }

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.2);
          overflow: hidden;
          z-index: -1;
        }
        .creators-card_bot {
          background-color: $color-primary;
        }
      }
    }
  }
}
