#comic .container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;
  .navbar {
    grid-column: 1 / -1;
    background-color: $color-dark-2;
    color: #fff;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      font-size: 1.8rem;
      .logo {
        width: 15rem;
        margin-top: 0.7rem;
        margin-right: 30vw;
      }
    }
  }

  .comic-banner {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: $color-dark-2;
    height: 40vh;
    border-bottom: 0.7rem solid $color-primary;

    img {
      height: 30vh;
    }
  }

  .comic-overview {
    grid-column: 2 / -2;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &_left {
      grid-column: 1 / 3;
      border-top: 0.2rem solid $color-grey-light-1;
      width: 20rem;
      h2 {
        margin-top: 1.7rem;
        color: $color-grey-dark-1;
      }
    }
    &_right {
      grid-column: 3 / -1;
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 10rem;
      &-item {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 4rem;
        h3 {
          background-color: $color-dark-1;
          border-radius: 1rem;
          height: fit-content;
          width: fit-content;
          padding: 0.3rem 1.7rem;
          border-bottom: 0.4rem solid $color-primary;
          font-weight: 600;
          font-style: oblique;
          color: #fff;
        }
        p {
          height: fit-content;
          width: fit-content;
          margin-top: .5rem;
          font-weight: 400;
          font-size: 1.7rem;
          color: $color-dark-1;
        }
      }
      .comic-description {
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}
