#comics .container {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;

  .title-banner {
    &::before {
      background: url("../../img/71fy3STvD1L._AC_SL1183_.jpg") no-repeat center
        center;
      background-size: cover;
    }
  }
}
